 * {
    box-sizing: border-box;
    }
body{
   background: #ffffff;
    width: 1280px;
    height: 832px;
    position: relative;
    overflow: hidden;
   }

.loginb {
    border: none;
    border-radius: 100px;
    width: 320px;
    height: 56px;
    position: absolute;
    font: 800 32px 'Inter', sans-serif;
    background-color: #d3d3d3;
    margin-top: 20px;
    text-align: center;
    left: 485px;
    top: 438px;
   }

.signupb {
    border: none;
    border-radius: 100px;
    width: 320px;
    height: 56px;
    position: absolute;
    font: 800 32px 'Inter', sans-serif;
    background-color: #d3d3d3;
    margin-top: 20px;
    text-align: center;
    left: 485px;
    top: 356px;
   }

.about {
    border: none;
    border-radius: 100px;
    width: 320px;
    height: 56px;
    position: absolute;
    font: 400 16px 'Inter', sans-serif;
    background-color: #ffffff;
    margin-top: 20px;
    text-align: left;
    left: 618px;
    top: 764px;
   }

.log-in {
   color: #000000;
    text-align: center;
    font: 800 32px 'Inter', sans-serif;
    position: absolute;
    left: 562px;
   top: 445px;
    width: 165px;
    height: 42px;
   }

.re-mail {
   color: #19722d;
    text-align: center;
    font: 400 65px 'Moul', sans-serif;
    position: absolute;
    left: 454px;
    top: 229px;
    font-weight: 100;
    width: 358px;
    height: 87px;
   }

